.left__button {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: white;
}

.right__button {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: white;
}

.left__icon {
  transform: rotate(315deg);
  margin-right: 16px;
  font-size: 30px;
}

.right__icon {
  transform: rotate(45deg);
  margin-left: 16px;
  font-size: 30px;
}

.landing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.hero-text {
  font-size: 100px;
  text-align: center;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-text .line {
  display: inline-block;
  transition: transform 0.7s ease;
}

/* main slide distance for the first line */
.line1.slide-right {
  transform: translateX(22vw);
}
.line1.slide-left {
  transform: translateX(-22vw);
}

/* slightly smaller slide for second line to look aligned */
.line2.slide-right-small {
  transform: translateX(28vw);
}
.line2.slide-left-small {
  transform: translateX(-28vw);
}

.left__section,
.right__section {
  transition: opacity 0.5s ease;
}

.intro {
  font-weight: lighter;
  position: absolute;
  top: 85%;
  left: 4%;
  font-size: 14px;
  line-height: 1.3;
}

.square-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left__square,
.right__square {
  position: absolute;
  width: 450px;
  height: 450px;
  border: 2px dotted #a0a4ab;
  background-color: white;
  transform: rotate(45deg);
  top: 22%;
  transform: rotate(45deg); /* truly center + rotate */
  z-index: 0;
}

.left__square {
  left: -225px;
}

.right__square {
  right: -225px;
}

.left__button,
.right__button,
.landing h1 {
  position: relative;
  z-index: 1;
}
