.navbar {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.left__nav {
  display: flex;
}

.intro__text {
  color: #1a1b1c83;
  padding: 0 16px;
}

.nav__text {
  font-size: 14px;
}

.nav__button {
  position: relative;
  padding: 8px 10px;
  background-color: black;
  border: none;
  outline: none;
  top: -10px;
}

.nav__button--text {
  font-size: 8px;
  color: white;
}