.forward__button {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 5%;
  right: 2%;
}

.forward__icon {
  transform: rotate(45deg);
  font-size: 40px;
  transition: transform 0.3s ease;
}

.forward__button:hover .forward__icon {
  transform: rotate(45deg) scale(1.2);
}

.forward__text {
  margin-right: 25px;
}